/* Here is your custom css styles. */
/* 修改首页轮播的标题大小 */
@media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 2.5rem;
    }
}

/* 修改博客标题的字体大小 */
@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 768px) {
      .row .col.m6 {
        width:31.36275%; /* 每行显示三个盒子*/
      }
      .row .col.m6:nth-child(3n) {
         margin-right: 0; /* 取消每行最后一个文章模块的右边距 */
      }

  }